* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff"), url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-SemiBold';
  src: url("../fonts/HKGrotesk-SemiBold.woff") format("woff"), url("../fonts/HKGrotesk-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff"), url("../fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFMono-Medium';
  src: url("../fonts/SFMono-Medium.woff") format("woff"), url("../fonts/SFMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFMono-Semibold';
  src: url("../fonts/SFMono-Semibold.woff") format("woff"), url("../fonts/SFMono-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #183B56;
  background-color: #ffffff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button-social {
  max-width: 223px;
  padding: 15px 26px 15px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background-color: #ffffff;
  border-radius: 2000px;
  color: #1565D8;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button-social__img {
  width: 16px;
  height: 18px;
  fill: #1565D8;
  margin-right: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button-more {
  max-width: 225px;
  padding: 15px 30px 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  border: 2px solid #ffffff;
  border-radius: 2000px;
  color: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #1565D8;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.arrow-right {
  width: 14px;
  height: 18px;
  fill: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.arrow-more {
  width: 13px;
  height: 16px;
  fill: #1565D8;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-icon {
  width: 60px;
  height: 40px;
  border: 1px dashed #e5eaf4;
}

.oval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.oval-light {
  background-color: rgba(54, 179, 126, 0.15);
}

.oval-dark {
  background-color: #36B37E;
}

.oval-img {
  width: 10px;
  height: 7.46px;
}

.oval-img__light {
  fill: #ffffff;
}

.oval-img__dark {
  fill: #36B37E;
}

.wave-container {
  width: 100%;
  height: 175px;
  z-index: -1;
}

.wave-param {
  width: inherit;
  height: inherit;
  fill: #ffffff;
}

.title {
  font-family: 'HKGrotesk-Bold';
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #183B56;
}

.paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #36B37E;
}

.description {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #5A7184;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 26px 0;
  background-color: #1565D8;
  z-index: 99;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header-logo {
  width: 90px;
  height: 28px;
}

.header-logo__img {
  width: 100%;
  height: 100%;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 40px;
}

.header-list__item {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-list__item:not(:last-of-type) {
  margin-right: 40px;
}

.header-list__item_icon {
  width: 9px;
  height: 16px;
  margin-left: 4px;
  fill: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-list__link {
  color: inherit;
}

.header-list__dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-list__dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -16px;
  width: 100%;
  height: 20px;
  background-color: transparent;
}

.header-button {
  padding: 8px 23px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: inherit;
  border: 2px solid #ffffff;
  border-radius: 8px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dropdown-list {
  position: absolute;
  top: 42px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  padding: 32px;
  padding-right: 24px;
  color: #183B56;
  background-color: #fff;
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dropdown-list__item {
  position: relative;
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.dropdown-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.dropdown-list__item_icon {
  width: 7px;
  height: 16px;
  fill: #183B56;
}

.services-list {
  position: absolute;
  top: -11px;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  padding: 32px;
  color: #183B56;
  background-color: #fff;
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.services-list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.services-list__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.services-list__link {
  color: inherit;
}

.menu {
  display: none;
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.menu-toggle {
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 36px 0 26px 24px;
  width: 304px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  overflow: hidden;
}

.menu-list__hidden {
  padding-right: 24px;
  max-height: 80vh;
  overflow-y: auto;
}

.menu-list__item {
  color: #183B56;
  line-height: 22px;
  cursor: pointer;
}

.menu-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.menu-list__item_icon {
  width: 9px;
  height: 16px;
  fill: #183B56;
  margin-left: auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-list__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-list__link {
  color: inherit;
}

.menu-button {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1565D8;
  border: 2px solid #1565D8;
  border-radius: 8px;
}

.menu-button__link {
  font-weight: 700;
  color: inherit;
}

.span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.hamburger {
  position: absolute;
  top: 2px;
  width: 100%;
  height: 100%;
}

.hamburger-span {
  position: relative;
  background-color: #ffffff;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.hamburger-span:not(:last-child) {
  margin-bottom: 5px;
}

.hamburger-span:nth-child(1) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.hamburger-span:nth-child(2) {
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

.hamburger-span:nth-child(3) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

.cross {
  position: absolute;
  top: 12px;
  right: 16px;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: 10;
  visibility: hidden;
}

.cross-span {
  background-color: #183B56;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.cross-span:nth-child(1) {
  height: 0;
  width: 2px;
  position: absolute;
  top: -1px;
  left: 9px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.cross-span:nth-child(2) {
  width: 0;
  height: 2px;
  position: absolute;
  left: -1px;
  top: 9px;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.menu-toggle__open + .menu-list {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .375s;
          transition-delay: .375s;
}

.menu-toggle__open > .hamburger > .hamburger-span {
  width: 0;
}

.menu-toggle__open > .hamburger > .hamburger-span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menu-toggle__open > .hamburger > .hamburger-span:nth-child(2) {
  -webkit-transition-delay: .125s;
          transition-delay: .125s;
}

.menu-toggle__open > .hamburger > .hamburger-span:nth-child(3) {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.menu-toggle__open > .cross {
  visibility: visible;
}

.menu-toggle__open > .cross > .cross-span:nth-child(1) {
  height: 22px;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

.menu-toggle__open > .cross > .cross-span:nth-child(2) {
  width: 22px;
  -webkit-transition-delay: .375s;
          transition-delay: .375s;
}

.service-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 8px;
  margin-top: 16px;
  color: #183B56;
  font-weight: 400;
}

.service-list__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-list__item:not(:last-of-type) {
  margin-bottom: 16px;
}

.service-list__link {
  color: inherit;
}

.drop-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 12px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 20px;
  color: #183B56;
  font-weight: 400;
}

.drop-list__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.drop-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.drop-list__item_icon {
  width: 9px;
  height: 16px;
  fill: #183B56;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero {
  position: relative;
  padding-top: 96px;
  padding-bottom: 70px;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../img/bg/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 602px;
  z-index: -1;
}

.hero-wave {
  position: absolute;
  top: 53%;
  left: 0;
  right: 0;
}

.hero-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 32px;
}

.hero-info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 105px;
}

.hero-info__title {
  margin-bottom: 24px;
  font-family: 'HKGrotesk-Bold';
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.hero-info__subtitle {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 464px;
  margin-bottom: 16px;
}

.hero-button__img {
  margin-left: 13px;
}

.hero-description {
  display: block;
  font-weight: 600;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
}

.hero-cards {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
  z-index: 5;
}

.hero-card {
  padding: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #ffffff;
  border: 1px solid #E5EAF4;
  -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.hero-card__first {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.hero-card__second {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
}

.hero-card__third {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.hero-card__fourth {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
}

.hero-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-card__img {
  margin-right: 24px;
}

.hero-card__title {
  margin-bottom: 4px;
  font-family: 'HKGrotesk-Bold';
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.hero-card__subtitle {
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.hero-explore {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-explore__img {
  margin-left: 15px;
}

.install {
  padding: 72px 0 175px;
}

.install-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.install-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 59px;
}

.install-heading__subtitle {
  margin-bottom: 16px;
}

.install-heading__title {
  margin-bottom: 16px;
}

.install-menu {
  max-width: 612px;
  margin: 0 auto;
}

.install-code {
  padding: 32px 32px 28px;
  margin-bottom: 24px;
  border-radius: 16px;
  background-color: #0F1F2B;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.install-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

.install-type__item {
  padding: 7px 16px 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #5A7184;
  background-color: #1B2A36;
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.install-type__item_active {
  color: inherit;
  background-color: #ffffff;
}

.install-line {
  position: relative;
  height: 20px;
  overflow: hidden;
}

.install-line__item {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  font-family: 'SFMono-Medium';
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  visibility: hidden;
  -webkit-transition: left .3s;
  transition: left .3s;
}

.install-line__item_bold {
  font-family: 'SFMono-Semibold';
  color: #5A7184;
}

.install-line__item_aqua {
  color: #00B8D9;
}

.install-line__item_active {
  visibility: visible;
  left: 0%;
}

.install-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.install-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.install-box__item:first-of-type {
  margin-right: 32px;
}

.install-box__text {
  margin-left: 12px;
  font-size: 16px;
  line-height: 22px;
}

.install-box__text_bold {
  font-weight: 600;
}

.features {
  padding: 150px 0 55px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8FBFF), to(rgba(250, 251, 251, 0.0001)));
  background: linear-gradient(180deg, #F8FBFF 0%, rgba(250, 251, 251, 0.0001) 100%);
}

.features-wave {
  position: absolute;
  top: -5%;
  left: 0;
  right: 0;
}

.features-wave__color {
  fill: #F8FBFF;
}

.features-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 750px;
  margin: 0 auto 64px;
}

.features-heading__subtitle {
  margin-bottom: 16px;
}

.features-heading__title {
  margin-bottom: 16px;
}

.features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 39px 32px 37px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
  border: 1px solid #E5EAF4;
  border-radius: 16px;
}

.features-item__img {
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
}

.features-item__title {
  margin-bottom: 8px;
  font-family: 'HKGrotesk-SemiBold';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.features-item__description {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.features-item__link_img {
  margin-left: 7px;
}

.features-item:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.features-item:nth-of-type(2) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.features-item:nth-of-type(3) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.features-item:nth-of-type(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.features-item:nth-of-type(5) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.features-item:nth-of-type(6) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.information {
  width: 1088px;
  margin: 0 auto 144px;
}

.information-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 61px;
  max-width: 750px;
}

.information-about__title {
  margin-bottom: 16px;
}

.information-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 3px solid #1565D8;
  border-radius: 8px 8px 16px 16px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
}

.information-card {
  padding: 48px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.information-card:not(:last-of-type) {
  border-right: 1px solid rgba(229, 234, 244, 0.5);
}

.information-card__oval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
  background-color: #1565D8;
  border-radius: 50%;
}

.information-card__img {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.information-card__info {
  margin-bottom: 2px;
  font-family: "HKGrotesk-Bold";
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
}

.information-card__text {
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 79px 0 68px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow-y: scroll;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 48px 64px 46px;
  width: 488px;
  border-radius: 12px;
  background-color: #ffffff;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 10px;
  height: 16px;
  fill: #5A7184;
  cursor: pointer;
}

.modal-singUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.modal-singUp__title {
  margin-bottom: 35px;
  font-family: 'HKGrotesk-Bold';
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.modal-singUp__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  padding: 17px 0;
  padding-left: 8px;
  height: 56px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #1565D8;
}

.modal-singUp__icon {
  width: 42px;
  height: 42px;
  margin-right: 76px;
  padding: 9px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.modal-singUp__icon_g {
  width: 24px;
  height: 24px;
}

.modal-singUp__text {
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
}

.modal-singUp__description {
  position: relative;
  font-weight: 600;
  line-height: 22px;
}

.modal-singUp__description::before {
  content: "";
  top: 50%;
  left: -76px;
  position: absolute;
  height: 2px;
  width: 64px;
  background-color: #E5EAF4;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-singUp__description::after {
  content: "";
  top: 50%;
  right: -76px;
  position: absolute;
  height: 2px;
  width: 64px;
  background-color: #E5EAF4;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.modal-form__label:not(:last-of-type) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__label_title {
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 22px;
  color: #5A7184;
}

.modal-form__label_agree {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #5A7184;
}

.modal-form__label_agree::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -26px;
  width: 16px;
  height: 16px;
  border: 1px solid #E5EAF4;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form__label_agree::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -23px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  border-radius: 4px;
  background: url("../img/svg/check.svg");
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal-form__label_error {
  color: #ff0000;
}

.modal-form__label_error::before {
  -webkit-box-shadow: inset 0px 1px 3px rgba(255, 0, 0, 0.37);
          box-shadow: inset 0px 1px 3px rgba(255, 0, 0, 0.37);
}

.modal-form__checkbox {
  cursor: pointer;
  margin-bottom: 32px;
}

.modal-form__checked {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  margin-right: 10px;
}

.modal-form__checkbox input:checked + .modal-form__label_agree::after {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.modal-form__input {
  height: 56px;
  padding: 17px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #183B56 !important;
  border: 1px solid #C3CAD9;
  border-radius: 8px;
  outline: none;
}

.modal-form__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}

.modal-form__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}

.modal-form__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}

.modal-form__input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #959EAD;
}

.modal-form__input_valid {
  border-color: #FF0000;
}

.modal-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  height: 56px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #1565D8;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  outline: none;
}

.modal-description {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #5A7184;
}

.modal-description__bold {
  font-weight: 700;
  color: #1565D8;
}

.input-validate {
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: #FF0000;
  font-size: 12px;
}

@media (min-width: 993px) {
  .header-list__item:hover {
    color: #183B56;
  }
  .header-list__item:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  .header-list__dropdown:hover > svg {
    fill: #183B56;
  }
  .header-button:hover {
    color: #183B56;
    border-color: #183B56;
  }
  .dropdown-list__item:hover {
    font-weight: 600;
    color: #1565D8;
  }
  .dropdown-list__item:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  .dropdown-list__item:hover > svg {
    fill: #1565D8;
  }
  .services-list__item:hover {
    font-weight: 600;
    color: #1565D8;
  }
  .hero-git:hover {
    color: #183B56;
  }
  .hero-git:hover > svg {
    fill: #183B56;
  }
  .hero-button:hover {
    border-color: #183B56;
    color: #183B56;
  }
  .hero-button:hover > svg {
    fill: #183B56;
  }
  .link:hover {
    color: #183B56;
  }
  .link:hover > svg {
    fill: #183B56;
  }
}

@media (max-width: 1340px) {
  .dropdown-list {
    padding-left: 24px;
  }
  .dropdown-list__item {
    padding-left: 8px;
  }
  .services-responsive {
    left: auto;
    right: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .services-responsive {
    width: 200px;
    padding: 28px;
    right: auto;
    left: 100%;
  }
  .hero-cards {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .information {
    width: 908px;
  }
  .features-item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .features-item:nth-of-type(2) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
  }
  .features-item:nth-of-type(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .features-item:nth-of-type(4) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
  }
  .features-item:nth-of-type(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .features-item:nth-of-type(6) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
  }
}

@media (max-width: 1080px) {
  .services-responsive {
    left: auto;
    right: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  body {
    padding-top: 76px;
  }
  .header-wrapper {
    padding: 0 36px;
  }
  .header-logo {
    width: 77px;
    height: 24px;
  }
  .header-list {
    display: none;
  }
  .header-button {
    display: none;
  }
  .menu {
    display: block;
  }
  .hero {
    padding: 107px 0 48px;
  }
  .hero::before {
    height: 701px;
    background-position: 29%;
  }
  .hero-wave {
    top: 55%;
  }
  .hero-wrapper {
    margin-bottom: 0;
  }
  .hero-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    margin-bottom: 79px;
  }
  .hero-info__title {
    max-width: 92%;
    font-size: 48px;
    line-height: 60px;
  }
  .hero-cards {
    padding: 0 10px;
  }
  .hero-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .hero-card__img {
    margin: 0;
    margin-bottom: 24px;
    border: none;
  }
  .hero-card__third, .hero-card__fourth {
    height: 258px;
  }
  .hero-explore {
    display: none;
  }
  .install {
    padding: 48px 0 150px;
  }
  .install-wrapper {
    max-width: 640px;
  }
  .install-heading {
    margin-bottom: 45px;
  }
  .install-heading__subtitle {
    margin-bottom: 20px;
  }
  .install-heading__title {
    margin-bottom: 20px;
  }
  .title {
    font-size: 32px;
    line-height: 40px;
  }
  .information {
    width: 672px;
    margin-bottom: 82px;
  }
  .information-about {
    margin-bottom: 54px;
  }
  .information-about__title {
    margin-bottom: 20px;
  }
  .information-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 40px 0 37.5px;
  }
  .information-card:not(:last-of-type) {
    border-right: none;
    border-bottom: 1px solid rgba(229, 234, 244, 0.5);
  }
  .information-card:last-of-type {
    padding-bottom: 38px;
  }
  .information-card__info {
    margin-bottom: 6.6px;
  }
  .features {
    padding-top: 78px;
  }
  .features-wave {
    top: -3%;
  }
  .features-heading {
    margin-bottom: 54px;
  }
  .features-heading__subtitle {
    margin-bottom: 20px;
  }
  .features-heading__title {
    margin-bottom: 20px;
  }
  .features-heading__description {
    width: 85%;
  }
  .features-container {
    grid-gap: 16px;
    max-width: 672px;
    margin: 0 auto;
  }
  .features-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 56px 35px;
    -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
  }
  .features-item__img {
    margin-bottom: 24px;
    border: none;
  }
  .features-item__title {
    margin-bottom: 5px;
    font-family: 'HKGrotesk-Bold';
    font-size: 24px;
  }
  .features-item__description {
    text-align: center;
    margin-bottom: 23px;
  }
  .features-item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .features-item:nth-of-type(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .features-item:nth-of-type(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .features-item:nth-of-type(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .features-item:nth-of-type(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .features-item:nth-of-type(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .header-wrapper {
    padding: 0;
  }
  .hero {
    padding-top: 90px;
  }
  .hero-wave {
    top: 51%;
  }
  .hero-info {
    margin-bottom: 50px;
  }
  .hero-info__title {
    max-width: 100%;
    font-size: 38px;
    line-height: 48px;
  }
  .hero-info__subtitle {
    max-width: 60%;
  }
  .hero-buttons {
    width: 430px;
  }
  .hero-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero-card__first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .hero-card__second {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .hero-card__third {
    height: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .hero-card__fourth {
    height: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .hero-card__img {
    margin: 0;
    margin-right: 24px;
  }
  .button-social {
    max-width: 214px;
    padding: 13px 32px 13px 32px;
    font-size: 16px;
    line-height: 22px;
  }
  .button-more {
    max-width: 214px;
    padding: 13px 22px 13px 24px;
    font-size: 16px;
    line-height: 22px;
  }
  .install-heading__description {
    max-width: 90%;
  }
  .install-code {
    padding: 28px;
  }
  .install-type__item {
    padding: 7px 14px 8px;
    font-size: 16px;
    line-height: 20px;
  }
  .title {
    font-size: 30px;
    line-height: 38px;
  }
  .information {
    width: 492px;
    margin-bottom: 88px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 94%;
  }
  .hero {
    padding-top: 70px;
  }
  .hero::before {
    height: 602px;
  }
  .hero-wave {
    top: 42%;
  }
  .hero-info__title {
    max-width: 92%;
    font-size: 32px;
    line-height: 42px;
  }
  .hero-info__subtitle {
    max-width: 80%;
  }
  .install-heading {
    margin-bottom: 36px;
  }
  .modal {
    padding: 59px 0 48px;
  }
  .modal-content {
    padding: 38px 44px 36px;
  }
  .information {
    width: inherit;
  }
}

@media (max-width: 545px) {
  .install-code {
    padding: 24px;
  }
  .install-code__item {
    padding: 7px 12px 8px;
  }
  .features-heading {
    margin-bottom: 47px;
  }
  .features-heading__title {
    width: 73%;
  }
  .features-heading__description {
    width: 90%;
  }
  .features-item {
    padding: 35px 24px 32px;
  }
}

@media (max-width: 530px) {
  .install-scroll {
    height: 35px;
    margin-bottom: 28px;
    overflow: hidden;
  }
  .install-type {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 0;
    padding-bottom: 28px;
    overflow-x: scroll;
  }
  .install-type__item:not(:last-of-type) {
    margin-right: 10px;
  }
  .modal {
    padding: 59px 0 48px;
  }
  .modal-content {
    width: 80%;
    padding: 38px 24px 36px;
  }
  .modal-singUp__icon {
    margin-right: 20%;
  }
  .modal-singUp__description::before {
    left: -30%;
    width: 25%;
  }
  .modal-singUp__description::after {
    right: -30%;
    width: 25%;
  }
}

@media (max-width: 500px) {
  .hero-wave {
    top: 33%;
  }
  .hero-info__title, .hero-info__subtitle {
    max-width: 90%;
  }
  .hero-buttons {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-git {
    margin-bottom: 12px;
  }
  .hero-git, .hero-button {
    max-width: 100%;
    width: 230px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-description {
    max-width: 80%;
  }
  .hero-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-card__img {
    margin: 0;
    margin-bottom: 23px;
  }
  .hero-card__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-card__subtitle {
    text-align: center;
  }
  .install-code {
    margin-bottom: 23px;
  }
  .install-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  .install-box__item:first-of-type {
    margin-bottom: 17px;
    margin-right: 0;
  }
  .install-box__text {
    color: #5A7184;
  }
  .install-box__text_bold {
    font-weight: inherit;
  }
}

@media (max-width: 480px) {
  .information-about__title {
    max-width: 80%;
  }
  .modal-content {
    width: 90%;
  }
}

@media (max-width: 445px) {
  .install-heading__description {
    max-width: 100%;
  }
  .install-scroll {
    margin-bottom: 24px;
  }
  .install-type {
    padding-bottom: 24px;
  }
  .install-type__item {
    padding: 6px 12px;
    font-size: 14px;
  }
  .install-line__item {
    font-size: 14px;
  }
  .install-box {
    width: 100%;
  }
  .title {
    font-size: 28px;
    line-height: 36px;
  }
  .description {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 425px) {
  .hero {
    padding: 40px 0;
  }
  .hero-wave {
    top: 32%;
  }
  .hero-wrapper {
    margin-bottom: 24px;
  }
  .hero-info {
    margin-bottom: 46px;
  }
  .hero-info__title, .hero-info__subtitle {
    max-width: 85%;
  }
  .hero-info__subtitle {
    font-size: 16px;
    line-height: 28px;
  }
  .hero-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .hero-explore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .link {
    font-size: 16px;
    line-height: 22px;
  }
  .menu-list {
    position: fixed;
    top: 17px;
    right: 0;
    left: 1%;
    padding-bottom: 0;
    width: 98%;
  }
  .menu-list__item:last-of-type {
    margin-bottom: 20px;
  }
  .install {
    padding: 40px 0 86px;
  }
  .install-heading__title {
    max-width: 60%;
  }
  .information {
    margin-bottom: 80px;
  }
  .information-about {
    margin-bottom: 36px;
  }
  .information-about__title {
    max-width: 85%;
    margin-bottom: 16px;
  }
  .information-card {
    padding: 40px 0 27px;
  }
  .information-card__info {
    margin-bottom: 1.6px;
    font-size: 32px;
    line-height: 42px;
  }
  .information-card__text {
    font-size: 16px;
    line-height: 28px;
  }
  .information-table {
    border-top-width: 2px;
  }
  .features-wave {
    top: -90px;
  }
  .features-heading {
    margin-bottom: 36px;
  }
  .features-heading__subtitle {
    margin-bottom: 18px;
  }
  .features-heading__title {
    margin-bottom: 16px;
  }
  .features-heading__description {
    width: 100%;
  }
  .features-container {
    grid-gap: 12px;
  }
  .features-item {
    padding: 35px 10px 29px;
  }
  .features-item__img {
    margin-bottom: 19px;
  }
  .features-item__title {
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 24px;
  }
  .features-item__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
  }
  .modal-content {
    width: 85%;
    font-size: 14px;
  }
  .modal-singUp__title {
    font-size: 32px;
    line-height: 44px;
  }
  .modal-singUp__description::before {
    left: -25%;
    width: 20%;
  }
  .modal-singUp__description::after {
    right: -25%;
    width: 20%;
  }
  .modal-form__input {
    font-size: 14px;
  }
  .modal-form__input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .modal-form__input:-ms-input-placeholder {
    font-size: 14px;
  }
  .modal-form__input::-ms-input-placeholder {
    font-size: 14px;
  }
  .modal-form__input::placeholder {
    font-size: 14px;
  }
  .modal-form__submit {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  body {
    padding-top: 64px;
  }
  .container {
    max-width: 86%;
  }
  .header {
    padding: 20px 0;
  }
  .cross {
    right: -4px;
  }
  .hero {
    padding-top: 36px;
  }
  .hero::before {
    height: 622px;
  }
  .hero-wave {
    top: 35%;
  }
  .hero-wrapper {
    margin-bottom: 20px;
    grid-column-gap: 0;
  }
  .hero-info__title, .hero-info__subtitle {
    max-width: 96%;
  }
  .hero-info__title {
    margin-bottom: 44px;
  }
  .hero-buttons {
    margin-bottom: 14px;
  }
  .hero-git, .hero-button {
    width: 207px;
  }
  .hero-git {
    margin-bottom: 8px;
  }
  .hero-description {
    max-width: 100%;
  }
  .hero-cards {
    padding: 0;
    grid-gap: 8px;
  }
  .hero-card {
    padding: 32px 16px;
  }
  .hero-card__title {
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero-card__subtitle {
    font-size: 16px;
    line-height: 28px;
  }
  .install-heading__title {
    max-width: 85%;
  }
  .information-about__title {
    max-width: 100%;
  }
  .features-heading__title {
    width: 100%;
  }
  .modal {
    padding: 49px 0 38px;
  }
  .modal-content {
    width: 87%;
  }
  .modal-singUp__title {
    margin-bottom: 28px;
  }
  .modal-singUp__icon {
    margin-right: 15%;
    width: 36px;
    height: 36px;
    padding: 6px;
  }
  .modal-singUp__description::before {
    left: -15%;
    width: 10%;
  }
  .modal-singUp__description::after {
    right: -15%;
    width: 10%;
  }
  .modal-description {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .hero-wave {
    top: 34%;
  }
  .install {
    padding-top: 40px;
  }
  .install-heading {
    margin-bottom: 33px;
  }
  .install-heading__subtitle {
    margin-bottom: 16px;
  }
  .install-heading__title {
    margin-bottom: 16px;
  }
  .install-heading__description {
    max-width: 98%;
  }
  .install-code {
    padding: 24px 15px;
    margin-bottom: 20px;
  }
  .install-scroll {
    height: 32px;
  }
  .install-type__item:not(:last-of-type) {
    margin-right: 8px;
  }
  .install-box__text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */