@media (min-width: 993px)
  .header
    &-list
      &__item
        &:hover
          color: $body
        &:hover > ul
          visibility: visible
          opacity: 1
      &__dropdown
        &:hover > svg
          fill: $body
    &-button
      &:hover
        color: $body
        border-color: $body
  .dropdown
    &-list
      &__item
        &:hover
          font-weight: 600
          color: $blue
        &:hover > ul
          visibility: visible
          opacity: 1
        &:hover > svg
          fill: $blue
  .services
    &-list
      &__item
        &:hover
          font-weight: 600
          color: $blue
  .hero
    &-git
      &:hover
        color: $body
      &:hover > svg
        fill: $body
    &-button
      &:hover
        border-color: $body
        color: $body
      &:hover > svg
        fill: $body
    &-explore
      &:hover
        color: $body
      &:hover > svg
        fill: $body
@media (max-width: 1340px)
  .dropdown
    &-list
      padding-left: 24px
      &__item
        padding-left: 8px
  .services
    &-responsive
      left: auto
      right: 100%
@media (max-width: 1200px)
  .container
    max-width: 960px
  .services
    &-responsive
      width: 200px
      padding: 28px
      right: auto
      left: 100%
  .hero
    &-cards
      grid-column: 1 / 13
@media (max-width: 1080px)
  .services
    &-responsive
      left: auto
      right: 100%
@media (max-width: 992px)
  .container
    max-width: 720px
  body
    padding-top: 76px
  .header
    &-wrapper
      padding: 0 36px
    &-logo
      width: 77px
      height: 24px
    &-list
      display: none
    &-button
      display: none
  .menu
    display: block
  .hero
    padding-top: 107px
    &::before
      height: 701px
      background-position: 29%
    &::after
      top: 51%
    &-wrapper
      margin-bottom: 0
    &-info
      grid-column: 1 / 13
      margin-bottom: 79px
      &__title
        max-width: 92%
        font-size: 48px
        line-height: 60px
    &-cards
      padding: 0 10px
    &-card
      flex-direction: column
      padding: 30px
      &__img
        margin: 0
        margin-bottom: 24px
        border: none
      &__third,
      &__fourth
        height: 258px
    &-explore
      display: none
@media (max-width: 767px)
  .container
    max-width: 540px
  .header
    &-wrapper
      padding: 0
  .hero
    padding-top: 90px
    &::after
      top: 43%
    &-info
      margin-bottom: 50px
      &__title
        max-width: 100%
        font-size: 38px
        line-height: 48px
      &__subtitle
        max-width: 60%
    &-buttons
      width: 430px
    &-card
      flex-direction: row
      &__first
        grid-column: 1 / 13
        grid-row: 1 / 2
      &__second
        grid-column: 1 / 13
        grid-row: 2 / 3
      &__third
        height: auto
        grid-column: 1 / 13
        grid-row: 3 / 4
      &__fourth
        height: auto
        grid-column: 1 / 13
        grid-row: 4 / 5
      &__img
        margin: 0
        margin-right: 24px
  .button
    &-social
      max-width: 214px
      padding: 13px 32px 13px 32px
      font-size: 16px
      line-height: 22px
    &-more
      max-width: 214px
      padding: 13px 22px 13px 24px
      font-size: 16px
      line-height: 22px
@media (max-width: 576px)
  .container
    max-width: 94%
  .header
  .hero
    padding-top: 70px
    &::before
      height: 602px
    &::after
      top: 38%
    &-info
      &__title
        max-width: 92%
        font-size: 32px
        line-height: 42px
      &__subtitle
        max-width: 80%
  .modal
    padding: 59px 0 48px
    &-content
      padding: 38px 44px 36px
@media (max-width: 530px)
  .modal
    padding: 59px 0 48px
    &-content
      width: 80%
      padding: 38px 24px 36px
    &-singUp
      &__icon
        margin-right: 20%
      &__description
        &::before
          left: -30%
          width: 25%
        &::after
          right: -30%
          width: 25%
@media (max-width: 500px)
  .hero
    &::after
      top: 33%
    &-info
      &__title,
      &__subtitle
        max-width: 90%
    &-buttons
      width: 100%
      flex-direction: column
      align-items: center
    &-git
      margin-bottom: 12px
    &-git,
    &-button
      max-width: 100%
      width: 230px
      justify-content: center
    &-description
      max-width: 80%
    &-card
      flex-direction: column
      align-items: center
      &__img
        margin: 0
        margin-bottom: 23px
      &__info
        align-items: center
      &__subtitle
        text-align: center
@media (max-width: 480px)
  .modal
    &-content
      width: 90%
@media (max-width: 425px)
  .hero
    padding-top: 40px
    &::after
      top: 32%
    &-wrapper
      margin-bottom: 24px
    &-info
      margin-bottom: 46px
      &__title,
      &__subtitle
        max-width: 85%
      &__subtitle
        font-size: 16px
        line-height: 28px
    &-description
      font-weight: 400
      font-size: 14px
      line-height: 24px
    &-explore
      display: flex
      font-size: 16px
      line-height: 22px
  .menu
    &-list
      position: fixed
      top: 17px
      right: 0
      left: 1%
      padding-bottom: 0
      width: 98%
      &__item
        &:last-of-type
          margin-bottom: 20px
  .modal
    &-content
      width: 85%
      font-size: 14px
    &-singUp
      &__title
        font-size: 32px
        line-height: 44px
      &__description
        &::before
          left: -25%
          width: 20%
        &::after
          right: -25%
          width: 20%
    &-form
      &__input
        font-size: 14px
        &::placeholder
          font-size: 14px
      &__submit
        font-size: 16px
@media (max-width: 375px)
  body
    padding-top: 64px
  .container
    max-width: 86%
  .header
    padding: 20px 0
  .cross
    right: -4px
  .hero
    padding-top: 36px
    &::before
      height: 622px
    &::after
      top: 33%
    &-wrapper
      margin-bottom: 20px
      grid-column-gap: 0
    &-info
      &__title,
      &__subtitle
        max-width: 96%
      &__title
        margin-bottom: 44px
    &-buttons
      margin-bottom: 14px
    &-git,
    &-button
      width: 207px
    &-git
      margin-bottom: 8px
    &-description
      max-width: 100%
    &-cards
      padding: 0
      grid-gap: 8px
    &-card
      padding: 32px 16px
      &__title
        margin-bottom: 11px
        font-size: 20px
        line-height: 24px
      &__subtitle
        font-size: 16px
        line-height: 28px
  .modal
    padding: 49px 0 38px
    &-content
      width: 87%
    &-singUp
      &__title
        margin-bottom: 28px
      &__icon
        margin-right: 15%
        width: 36px
        height: 36px
        padding: 6px
      &__description
        &::before
          left: -15%
          width: 10%
        &::after
          right: -15%
          width: 10%
    &-description
      font-size: 12px
