*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  list-style: none
@font-face
  font-family: 'HKGrotesk-Regular'
  src: url('../fonts/HKGrotesk-Regular.woff') format('woff'), url('../fonts/HKGrotesk-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'HKGrotesk-SemiBold'
  src: url('../fonts/HKGrotesk-SemiBold.woff') format('woff'), url('../fonts/HKGrotesk-SemiBold.woff2') format('woff2')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'HKGrotesk-Bold'
  src: url('../fonts/HKGrotesk-Bold.woff') format('woff'), url('../fonts/HKGrotesk-Bold.woff2') format('woff2')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'SFMono-Medium'
  src: url('../fonts/SFMono-Medium.woff') format('woff'), url('../fonts/SFMono-Medium.woff2') format('woff2')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'SFMono-Semibold'
  src: url('../fonts/SFMono-Semibold.woff') format('woff'), url('../fonts/SFMono-Semibold.woff2') format('woff2')
  font-weight: normal
  font-style: normal
body
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-style: normal
  font-size: 16px
  line-height: 28px
  color: $body
  background-color: $light
