.header
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 26px 0
  background-color: $blue
  z-index: 99
  &-wrapper
    display: flex
    align-items: center
    color: $light
  &-logo
    width: 90px
    height: 28px
    &__img
      width: 100%
      height: 100%
  &-list
    display: flex
    margin-left: auto
    margin-right: 40px
    &__item
      position: relative
      transition: all .3s
      &:not(:last-of-type)
        margin-right: 40px
      &_icon
        width: 9px
        height: 16px
        margin-left: 4px
        fill: $light
        transition: all .3s
    &__link
      color: inherit
    &__dropdown
      position: relative
      display: flex
      align-items: center
      cursor: pointer
      &::after
        content: ""
        position: absolute
        right: 0
        bottom: -16px
        width: 100%
        height: 20px
        background-color: transparent
  &-button
    padding: 8px 23px
    font-weight: 700
    line-height: 28px
    text-align: center
    color: inherit
    border: 2px solid $light
    border-radius: 8px
    transition: all .3s
.dropdown
  &-list
    position: absolute
    top: 42px
    left: 0
    display: flex
    flex-direction: column
    width: 260px
    padding: 32px
    padding-right: 24px
    color: $body
    background-color: #fff
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
    border-radius: 12px
    visibility: hidden
    opacity: 0
    transition: all .3s
    &__item
      position: relative
      padding-right: 8px
      display: flex
      align-items: center
      justify-content: space-between
      font-weight: 400
      font-size: 16px
      line-height: 22px
      transition: all .3s
      cursor: pointer
      &:not(:last-of-type)
        margin-bottom: 20px
      &_icon
        width: 7px
        height: 16px
        fill: $body
.services
  &-list
    position: absolute
    top: -11px
    left: 100%
    display: flex
    flex-direction: column
    width: 240px
    padding: 32px
    color: $body
    background-color: #fff
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
    border-radius: 12px
    visibility: hidden
    opacity: 0
    transition: all .3s
    &__item
      font-weight: 400
      font-size: 16px
      line-height: 22px
      transition: all .3s
      cursor: pointer
      &:not(:last-of-type)
        margin-bottom: 12px
    &__link
      color: inherit
.menu
  display: none
  margin-left: auto
  position: relative
  z-index: 10
  &-toggle
    display: block
    width: 22px
    height: 22px
    position: relative
    transition: all .25s ease-in-out
    cursor: pointer
  &-list
    position: absolute
    top: 0
    right: 0
    display: flex
    padding: 36px 24px 26px 24px
    width: 304px
    flex-direction: column
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
    border-radius: 12px
    background-color: $light
    visibility: hidden
    opacity: 0
    transition: all .25s ease-in-out
    transition-delay: .25s
    overflow-y: auto
    &__item
      color: $body
      line-height: 22px
      cursor: pointer
      &:not(:last-of-type)
        margin-bottom: 20px
      &_icon
        width: 9px
        height: 16px
        fill: $body
        margin-left: auto
    &__dropdown
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
    &__landings
      &_active > .drop-list
        display: flex
    &__pages
      &_active > .drop-list
        display: flex
    &__link
      color: inherit
  &-button
    width: 100%
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    color: $blue
    border: 2px solid $blue
    border-radius: 8px
    &__link
      font-weight: 700
      color: inherit
.span
  display: block
  width: 100%
  height: 2px
  border-radius: 10px
  transition: all .25s ease-in-out
.hamburger
  position: absolute
  top: 2px
  width: 100%
  height: 100%
  &-span
    position: relative
    background-color: $light
    transition: all .25s ease-in-out
    &:not(:last-child)
      margin-bottom: 5px
    &:nth-child(1)
      transition-delay: .5s
    &:nth-child(2)
      transition-delay: .625s
    &:nth-child(3)
      transition-delay: .75s
.cross
  position: absolute
  top: 12px
  right: 16px
  height: 100%
  width: 100%
  transform: rotate(45deg)
  transition: all .25s ease-in-out
  z-index: 10
  &-span
    background-color: $body
    transition: all .25s ease-in-out
    &:nth-child(1)
      height: 0
      width: 2px
      position: absolute
      top: -1px
      left: 9px
      transition-delay: 0s
    &:nth-child(2)
      width: 0
      height: 2px
      position: absolute
      left: -1px
      top: 9px
      transition-delay: .25s
.menu-toggle__open + .menu-list
  visibility: visible
  opacity: 1
  transition-delay: .375s
.menu-toggle__open > .hamburger > .hamburger-span
  width: 0
  &:nth-child(1)
    transition-delay: 0s
  &:nth-child(2)
    transition-delay: .125s
  &:nth-child(3)
    transition-delay: .25s
.menu-toggle__open > .cross > .cross-span
  &:nth-child(1)
    height: 22px
    transition-delay: .625s
  &:nth-child(2)
    width: 22px
    transition-delay: .375s
.service
  &-list
    display: none
    flex-direction: column
    flex-basis: 100%
    padding-left: 8px
    margin-top: 16px
    &__item
      &:not(:last-of-type)
        margin-bottom: 16px
    &__link
      color: inherit
.drop
  &-list
    display: none
    flex-direction: column
    padding-left: 12px
    flex-basis: 100%
    margin-top: 20px
    &__item
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
      width: 100%
      &:not(:last-of-type)
        margin-bottom: 20px
      &_icon
        width: 9px
        height: 16px
        fill: $body
    &__signIn
      &_active > .service-list
        display: flex
    &__services
      &_active > .service-list
        display: flex
